{% include "home/banner.njk" %}

{% for region in regions %}
  <h2>{{ region | capitalize }}</h2>
  <ul>
    {% for dish in collections[region] | sort(attribute='data.country') %}
      {% if dish.data.draft %}
        <li>{{ dish.data.country }}</li>
      {% else %}
        <li>
          <div>
            <p>{{ dish.data.dishNumber }}</p>
            <div>
              <a href="{{ dish.url }}"
                ><h3 class="">{{ dish.data.country }}</h3></a
              >
              <p class="dish-name">{{ dish.data.dish }}</p>
              <p class="active">{{ dish.data.formattedMonth }}</p>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
