{% include "home/banner.njk" %}

{% for region in regions %}
  <h2>{{ region | capitalize }}</h2>

  <ul>
    {% for dish in collections[region] | sort(attribute='data.country') %}
      <li>
        {% if dish.data.draft %}
          <article class="dish draft">
            <p class="dish-number"></p>
            <h3>{{ dish.data.country }}</h3>
          </article>
        {% else %}
          {% include "components/dish.njk" %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}
