:root {
  --primary: #8b0000;
  --secondary: #d3a7a4;
  --background: #f5f5f5;
  --second-background: #f2efeb;
  --accent: #cccccc;
  --text: #000000;
  --text-subtle: #2b2b2b;
}

* {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  margin-right: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

body {
  background-color: var(--background);
  color: var(--text);
  max-width: 40em;
  margin: 0px auto;
}

* {
  list-style-type: none;
}

a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px dashed var(--text-subtle);
}

ul {
  padding: 0;
}
header ul {
  display: flex;
  gap: 1rem;
}

strong {
  font-weight: bold;
}

main {
  padding: 1rem;
}
