<article class="dish">
  <p class="dish-number">{{ dish.data.dishNumber }}</p>

  <div>
    <h3>
      <a href="{{ dish.url }}">{{ dish.data.country }}</a>
    </h3>

    <p class="dish-name">{{ dish.data.dish }}</p>

    <time datetime="{{ dish.data.isoDate }}"
      >{{ dish.data.formattedMonth }}</time
    >
  </div>
</article>
