<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or meta.title }}</title>
    <meta
      name="description"
      content="{{ description or meta.description }}"
    />
    <link rel="icon" href="{{ favicon or 'favicon.svg' }}" />
		<style>{% include "css/index.css" %}</style>
  </head>
  <header>
      <a href="/"><h1>Dishes</h1></a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/daan5556/dishes">Github</a></li>
        <li><a href="/feed.xml">Feed</a></li>
      </ul>
  </header>
  <body>
    <main id="main">{{ content | safe }}</main>

    <footer>
      <p>
        <em
          >Built with
          <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em
        >
      </p>
    </footer>
  </body>
</html>
