---
layout: layout/base.njk
---

<h2>{{ country }}</h2>

<p>{{ dish }}</p>
<p>{{ formattedDate }}</p>

<img src="{{ image }}" fetchpriority="high" width="300" alt="{{ dish }}" />

{{ content | safe }}
