---
layout: layout/base.njk
---

<div class="banner dish">
  <h2>{{ country }}</h2>

  <p>{{ dish }}</p>
  <time datetime="{{ isoDate }}">{{ formattedDate }}</time>

  <img src="{{ image }}" fetchpriority="high" width="400" alt="{{ dish }}" />
</div>

{{ content | safe }}
