.banner.dish {
  display: block;
  padding-top: 1rem;
  margin-top: 0.5rem;
}

.banner.dish img {
  border-radius: 12px;
  margin: 0px auto;
  margin-top: 1rem;
  height: auto;
}

.banner.dish h2 {
  margin-bottom: 0.1rem;
  font-weight: 500;
  font-size: 1rem;
}

.banner.dish p {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}
