.banner.dish {
  display: block;
  padding-top: 1rem;
}

.banner.dish img {
  border-radius: 12px;
  margin: 0px auto;
  margin-top: 1rem;
}

.banner.dish h2 {
  margin-bottom: 0.1rem;
  font-weight: 400;
}
