.banner.home .current-count {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: var(--primary);
}

.banner.home {
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.8;
}

.banner.home p,
figcaption {
  font-weight: 500;
}

.dish-number {
  width: 30px;
  font-weight: bold;
  color: var(--text-subtle);
}
.dish {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}

.dish h3 {
  font-size: 1rem;
}

.dish-name {
  font-weight: 700;
  font-size: 1.2rem;
}

.draft {
  color: var(--accent);
}

time {
  color: var(--secondary);
  font-style: italic;
  font-size: 0.9rem;
}
