.banner.home .current-count {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0;
  color: var(--primary);
}

.banner.home {
  font-size: 1.3rem;
  text-align: center;
  opacity: 0.8;
  font-weight: 700;
}

.dish-number {
  width: 30px;
  font-weight: bold;
  color: var(--text-subtle);
}
.dish {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}

.dish-name {
  font-weight: 900;
}

.draft {
  color: var(--accent);
}
