{% set cooked = collections.publishedDishes.length %}
{% set total = collections.dish.length %}

<section class="banner home">
  <p>I'm cooking a dish from every country.</p>

  <figure class="progress">
    <p>
      <a href="/cooked"><span class="current-count">{{ cooked }}</span></a> /
      {{ total }}
    </p>
    <figcaption>Completed dishes</figcaption>
  </figure>
</section>
