{% set cooked = collections.publishedDishes.length %}
{% set total = collections.dish.length %}

<div>
  <p>I'm cooking a dish from every country.</p>
  <p><span class="current-count">{{ cooked }}</span>/{{ total }}</p>
  <p>completed dishes</p>
</div>
