name: Deploy

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - run: npm install -g pnpm
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Run remote deployment script
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_HOST }} << 'EOF'
            cd ${{ secrets.PROJECT_DIR }}
            git pull --ff-only
            docker compose up 
          EOF
